@use '../global/variables' as v;

.siteFooter{
    background-color: #fff;
    padding: 70px 0 0;

    &__wrap{
        position: relative;
    }
    &__social{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;

        a{
            display: flex;
            align-items: center;
            align-content: center;

            &:hover{
                opacity: .7;
            }
        }
    }
    
    &__logo{
        display: flex;
        justify-content: center;
        max-width: 190px;
        cursor: pointer;
        margin: 0 auto 70px;
        transition: ease .3s;

        &:hover{
            opacity: .7;
        }

        img{
            display: block;
            width: 100%;
            max-width: inherit;
            filter: invert(50%) sepia(177%) saturate(5287%) hue-rotate(219deg) brightness(35%) contrast(92%);
        }
    }
    .phones{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto 15px;

        &__phone{
            display: block;
            font-size: 28px;
            line-height: 34px;
            font-weight: 600;
            color: v.$navy;
            text-align: center;
            max-width: fit-content;
            max-width: -moz-max-content;
            max-width: -webkit-fit-content;
            margin: 0;
            transition: ease .3s;

            &:first-of-type{
                margin: 0 0 10px;
            }
    
            &:hover{
                opacity: .7;
            }
        }
    }
    .mail{
        display: block;
        font-size: 28px;
        line-height: 34px;
        font-weight: 600;
        color: v.$navy;
        text-align: center;
        max-width: fit-content;
        max-width: -moz-max-content;
        max-width: -webkit-fit-content;
        margin: 0 auto;
        transition: ease .3s;

        &:hover{
            opacity: .7;
        }
    }
    &__copyrights{
        min-height: 85px;
        background-color: v.$navy;
        display: flex;
        align-items: center;
        margin-top: 100px;

        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }

        p{
            font-size: 14px;
            line-height: 19px;
            color: #fff;
            margin: 10px 0 0;
        }
        .terms{
            font-size: 14px;
            line-height: 19px;
            color: #fff;
            margin: 10px 0 0;
            text-align: center;
            transition: ease .3s;

            &:hover{
                opacity: .7;
            }
        }
    }

    .contactPhone{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background-color: v.$orange;
        box-shadow: 0 0 10px #00000040;
        position: fixed;
        right: 8%;
        bottom: 35px;
        transition: ease .3s;
        cursor: pointer;
        margin: 0;
        z-index: 99;
        -webkit-animation: pulsate-bck 1.5s ease-in-out infinite both;
	            animation: pulsate-bck 1.5s ease-in-out infinite both;

        &:hover{
            transform: scale(1) !important;
            animation: none;
            background-color: v.$orange_hover;

            &:after{
                transform: translate(0, -50%) rotate(-10deg);
            }
        }
        &:after{
            content: '';
            background-image: url('/wp-content/themes/quorum/images/icons/phone_ico.svg');
            background-repeat: no-repeat;
            background-size: 38px;
            width: 38px;
            height: 38px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 50%;
            transform: translate(0, -50%);
            filter: invert(1);
            transition: ease .3s;
        }
    }
    &__scrolltop{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background-color: v.$orange;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -60px;
        transition: ease .3s;

        &:hover{
            background-color: v.$orange_hover;

            &:before,
            &:after{
                top: 40%;
            }
        }

        &:before{
            content: '';
            width: 24px;
            height: 1px;
            background-color: #fff;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 50%;
            transform: translate(-8px, -50%) rotate(-45deg);
            transition: ease .3s;
        }

        &:after{
            content: '';
            width: 24px;
            height: 1px;
            background-color: #fff;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 50%;
            transform: translate(9px, -50%) rotate(45deg);
            transition: ease .3s;
        }
    }
}
@media (max-width: 991px){
    .siteFooter{
        padding: 40px 0 0;

        &__logo{
            max-width: 150px;
            margin: 0 auto 60px
        }
        .phones{
            &__phone{
                font-size: 24px;
                line-height: 30px;
            }
        }
        .mail{
            font-size: 24px;
            line-height: 30px;
        }
        &__copyrights{
            min-height: 75px;
            margin-top: 70px;
        }
        .contactPhone{
            width: 65px;
            height: 65px;
            right: 8%;
            bottom: 35px;
    
            &:after{
                background-size: 30px;
                width: 30px;
                height: 30px;
            }
        }
        &__scrolltop{
            width: 50px;
            height: 50px;
            top: -35px;

            &:before{
                width: 15px;
                transform: translate(-5px, -50%) rotate(-45deg);
            }
            &:after{
                width: 15px;
                transform: translate(5px, -50%) rotate(45deg);
            }
        }
    }
}
@media (max-width: 767px){
    .siteFooter{
        &__copyrights{
            margin-top: 50px;

            .container{
                flex-direction: column;
                padding: 15px;
            }
        }
    }
}
@media (max-width: 575px){
    .siteFooter{
        padding: 40px 0 0;

        &__logo{
            max-width: 120px;
            margin: 0 auto 40px
        }
        .phones{
            flex-direction: column;

            &__phone{
                font-size: 19px;
                line-height: 24px;
                margin: 0;

                &:first-of-type{
                    margin: 0 0 8px;
                }
            }
        }
        .mail{
            font-size: 19px;
            line-height: 24px;
        }
        &__copyrights{
            margin-top: 40px;

            p{
                text-align: center;
            }
        }
        .contactPhone{
            width: 45px;
            height: 45px;
            right: 5%;
            bottom: 50px;
    
            &:after{
                background-size: 23px;
                width: 23px;
                height: 23px;
            }
        }
        &__scrolltop{
            width: 45px;
            height: 45px;
            top: -30px;

            &:before{
                width: 12px;
                transform: translate(-4px, -50%) rotate(-45deg);
            }
            &:after{
                width: 12px;
                transform: translate(4px, -50%) rotate(45deg);
            }
        }
        &__social{
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-top: 20px;

            a{
                margin: 0 5px;

                img{
                    max-width: 95%;
                }
            }
        }
    }
}

.callModal{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: ease .3s;

    &--ready{
        opacity: 1;
        pointer-events: all;
    }
    &--active{
        .callModal__wrap{
            opacity: 1;
            pointer-events: all;
        }
    }

    &__close{
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        transition: ease .3s;

        &:hover{
            opacity: .7;
        }

        &:after{
            content: '';
            background-image: url('/wp-content/themes/quorum/images/icons/close_ico.svg');
            background-repeat: no-repeat;
            background-size: 20px;
            width: 20px;
            height: 20px;
            position: relative;
            display: block;
        }
    }

    &__wrap{
        background-color: #fff;
        padding: 40px;
        border-radius: 4px;
        position: relative;
        opacity: 0;
        pointer-events: none;
        transition: ease .3s;

        h3{
            font-size: 36px;
            line-height: 42px;
            color: v.$navy;
            text-align: center;
            margin: 0 0 30px;
        }

        a{
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: fit-content;
            max-width: -moz-max-content;
            max-width: -webkit-fit-content;
            padding: 0 16px;
            min-height: 40px;
            background-color: v.$orange;
            margin: 0 auto 15px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

            &:hover{
                background-color: v.$orange_hover;
            }

            &:last-of-type{
                margin: 0 auto;
            }

            span{
                display: block;
                font-size: 20px;
                color: #fff;
                margin: 0;
                text-align: center;
                white-space: nowrap;
                padding-top: 3px;
                padding-left: 30px;
                position: relative;

                &:before{
                    content: '';
                    background-image: url('/wp-content/themes/quorum/images/icons/phone_ico.svg');
                    background-repeat: no-repeat;
                    background-size: 21px;
                    width: 21px;
                    height: 21px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                    filter: invert(1);
                }
            }
        }
    }
}
@media (max-width: 575px){
    .callModal{
        &__close{
            top: 10px;
            right: 10px;
        }
        &__wrap{
            padding: 25px 40px;
            max-width: calc(100% - 30px);

            h3{
                font-size: 24px;
                line-height: 27px;
                margin: 0 0 18px;
            }
            a{
                min-height: 36px;
                padding: 0 10px;

                span{
                    font-size: 18px;
                    padding-left: 25px;

                    &:before{
                        background-size: 18px;
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
}